body {
  margin: 0;
  background-color: #222;
  font-family: "Work Sans", sans-serif;
}


.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #4287f5;
}

header::after{
  content: "";
  display: table;
  clear: both;
}

.name {
  float: left;
  font-size: 35px;
}


nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

nav li {
  display: inline-block;
  margin-left: 70px;
  margin-top: 35px;

}

nav a {
  color: #444;
  text-decoration: none;
  font-size: 35px;
}

.background {
    width:500px; 
    height:500px; 
    background-color:#F5F2F2; 
    border:3px solid black;
    margin:auto;
    display:block; 
}

.myButton {
  box-shadow:inset 0px -6px 0px 0px #3dc21b;
  background-color:#44c767;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:12px 40px;
  text-decoration:none;
  position:relative;
  top: 0%;
  left:80;



}
.myButton:hover {
  background-color:#5cbf2a;
}
.myButton:active {
  position:relative;
  top: 0%;
}

.output{
  position: relative;
  top: 0%;
  text-align: center;
  vertical-align: middle;
  font-size: 130px;
  

}